/* index search bar */
.height { height: 10vh; }

.form { 
    position: relative;
    opacity: 0.9; 
}

.form .fa-search {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #9ca3af
}

.form span {
    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db
}

.left-pan {
    padding-left: 7px
}

.left-pan i {
    padding-left: 10px
}

.form-input {
    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus {
    box-shadow: 1;
    border: 1
}

.bg-img {
    background-image: url('./images/11b6769c8f2ea91b25fa0bb10bcaf4ab.jpg');
    opacity: 0.9;
}

.category-container{ opacity: 0.9; }

.article-container:hover {
    border-color: #000000;
    border-style: solid;
}

